@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background: #000;
  
}
.About_Page{
    background: url(/Database-Project-/Photos/Screenshot\ \(162\).png) no-repeat;
    background-position: center;
    background-size:cover ;
    height: 100vh;
    width: 100%;
   
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 13%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}
.navbar a{
    position: relative;
    font-size: 16px;
    color: #fff;
    margin-right: 30px;
    text-decoration: none;
}
.navbar a::after{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    bottom: -5px;
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s ease;
}
.navbar a:hover:after{
    transform: translateY(0);
    opacity: 1;
}

.about {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 110px;
}

.about-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-image: url(/Database-Project-/Photos/Screenshot\ \(162\).png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 540px;
}

.about-container h1 {
    font-size: 40px;
    font-weight: bold;
    width: 494px;
    text-align: center;
    margin-top: 67px;
}

.about-subline {
    font-size: 24px;
    width: 822px;
    text-align: center;
    opacity: 0.7;
}

.about-info {
    display: flex;
    position: absolute;
    top: 300px;
    gap: 50px;
    flex-wrap: wrap;
}

.about-info-item {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    padding: 0px 35px 47px 17px;
    filter: drop-shadow(5px 5px 10px rgb(0,0,0,0.2));
    width: 380px;
    height: 414px;
    transition: all ease-out 0.3s;
}

.about-info-item:hover {
    filter: drop-shadow(5px , 5px , 10px , rgb (0,0,0,0.4));
}

.about-hr {
    width: 100%;
    position: absolute;
    border: 16px solid #f72d7a;
    color: #f72d7a;
    left: 0px;
}

.about-info-item img {
    width: 187px;
    height: 187px;
    margin-top: 45px;
}

.about-info-item h5 {
    font-size: 32px;
}

.about-info-item p {
    font-size: 16px;
    margin-top: 8px;
}